<!-- creating the template HTML file that will be used with the new path register/ 
and the view register_user -->

<!-- we will add another link to navbar.html that will point to register -->

<!-- we are going to use a django form for this -->

{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
<h1>register account</h1>
</br> 

<form method="POST" action="">
    {% csrf_token %}
    {% if form.errors %}
        <div class="alert alert-warning alert-dismissable fade show"
        role="alert">
        Your form has errors
        {% for field in forms %}
          {% if field.errors %}
            {{ field.errors }}
          {% endif %}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert"
        aria-label="Close"></button>
        </div>
    {% endif %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-secondary">register</button>
    <!-- we changed from primary to secondary on above line -->
    <!--</br></br>-->
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

</form>
</div>
{% endblock %}